.hover-div:hover {
  background-color: #f8f8f8;
}

.exercise-container {
  height: fit-content;
}

.exercise-container:hover {
  transform: scale(1);
}

.exercise-thumbnail {
  width: 100%;
  height: 150px;
  background-color: antiquewhite;
}

.exercise-description {
  overflow: hidden;
  white-space: nowrap;
}

.exercise-vid {
  height: 320px;
}

/* DATE PICKER CSS */
.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__view-calendar-icon input {
  background-color: #fff;
  border: rgb(222, 226, 230) 1px solid;
  border-radius: 0.3rem;
  color: #000;
}

/* REGISTER CSS */
.form-container {
  padding: 2rem !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.form-input {
  all: unset;
  border: 1px solid rgb(222, 226, 230);
  background-color: #fff;
  padding: 0.5rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-show {
  border: 1px solid rgb(222, 226, 230);
  padding: 0.5rem;
  width: 100px;
  text-align: center;
}

/* ROOM.JSX */
.video-local {
  width: 100%;
  min-height: 100%;
  height: 100%;
  /* max-height: 40vh; */
  overflow: auto;
  object-fit: cover;
  z-index: 2;
}

/* SCROLL BARS */
::-webkit-scrollbar {
  width: 0.275rem;
  background-color: #e7e7e7;
  border-radius: 1rem;
}

.search-input {
  /* RESET INPUT TEXT CSS */
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* DETAILS AND SUMMARY */
/* details[open] summary {
  background-color: rgb(0, 0, 0);
  color: #fff;
} */

/* ADD SCHEDULE MODAL */
.schedule-options {
  background-color: #fff;
  color: #000;
  border: 1px solid #ced4da;
}

.schedule-time {
  -webkit-appearance: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #ced4da;
}

.schedule-time:focus {
  color: #000;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* QUILL */
.ql-container,
.ql-snow {
  border-radius: 0.375rem;
}

/* LANDING */
.landing-icon {
  width: 3rem;
  height: 3rem;
  background-image: linear-gradient(0deg, #225ef9 0%, #1c9dff 100%);
  /* color: #225ef9; */
  color: #fff;
}

.blob-1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(233, 244, 255) 41%,
    rgb(211, 223, 255) 100%
  );
}

.blob-2 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3322 1109" fill="none" opacity="0.5"><path d="M3232 1H32C-92.8333 129.833 205.5 28.3 149.5 739.5C79.5003 1628.5 1140.5 638 1573.5 587.5L1584.19 586.253C2002.98 537.383 2163.12 518.695 2962.5 809C3451.62 986.632 3329.33 235 3232 1Z" fill="url(%23paint0_linear_799_372)"/><defs><linearGradient id="paint0_linear_799_372" x1="1660.99" y1="1" x2="1660.99" y2="1108.43" gradientUnits="userSpaceOnUse"><stop stop-color="%2397C9EF"/><stop offset="1" stop-color="%23007AFF"/></linearGradient></defs></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -600px;
}

.blob-3 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3322 1109" fill="none" opacity="0.5"><path d="M3232 1H32C-92.8333 129.833 205.5 28.3 149.5 739.5C79.5003 1628.5 1140.5 638 1573.5 587.5L1584.19 586.253C2002.98 537.383 2163.12 518.695 2962.5 809C3451.62 986.632 3329.33 235 3232 1Z" fill="url(%23paint0_linear_799_372)"/><defs><linearGradient id="paint0_linear_799_372" x1="1660.99" y1="1" x2="1660.99" y2="1108.43" gradientUnits="userSpaceOnUse"><stop stop-color="%2397C9EF"/><stop offset="1" stop-color="%23007AFF"/></linearGradient></defs></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.blob-4 {
  background-image:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3322 1109" fill="none" opacity="0.5"><g transform="rotate(180, 1661, 554.5)"><path d="M3232 1H32C-92.8333 129.833 205.5 28.3 149.5 739.5C79.5003 1628.5 1140.5 638 1573.5 587.5L1584.19 586.253C2002.98 537.383 2163.12 518.695 2962.5 809C3451.62 986.632 3329.33 235 3232 1Z" fill="url(%23paint0_linear_799_372)"/><defs><linearGradient id="paint0_linear_799_372" x1="1660.99" y1="1" x2="1660.99" y2="1108.43" gradientUnits="userSpaceOnUse"><stop stop-color="%2397C9EF"/><stop offset="1" stop-color="%23007AFF"/></linearGradient></defs></g></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.landing-accordion {
  width: 50vw;
  background-color: #fff;
  color: #000;
  border: 1px solid #ced4da;
}

@media (max-width: 768px) {
  .landing-accordion {
    width: 100%;
  }
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(233, 244, 255) 41%,
    rgb(211, 223, 255) 100%
  );
}
