.search-bar {
  border: 1px solid #b9b9b9;
  border-radius: 25px;
  padding: 10px;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
}

.button-group {
  border: 1px solid #b9b9b9;
  border-radius: 20px;
  width: fit-content;
  padding: 0 10px;
}

.stretch-flex {
  /* height: 100%; */
  display: flex;
  align-items: stretch;
}

/* .height-responsive {
  height: 100%;
} */

.calendar-text {
  width: fit-content;
}

.status {
  padding: 5px;
  color: #1c9dff;
}
