.card-container {
  max-height: 630px; /* Set a maximum height for the card container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.search-video {
  width: 99%;
}

.search-video-container {
  padding: 10px 10px;
  border: 1px solid #b9b9b9;
  border-radius: 20px;
  margin: 10px 0;
}

.search-bar-container {
  flex-grow: 1;
  margin-left: 10px;
  width: 60%;
}

.video-container {
  padding: 10px;
  margin: 10px 0 5px 0;
  border: 1px solid #b9b9b9;
  border-radius: 20px;
  height: auto;
  width: 100%;
  background-color: #f8f8f8;
}

.video img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  width: 85px;
  height: auto;
  border: 1px solid #b9b9b9;
  border-radius: 20px;
  background-color: #ffffff;
}
