.action-btn {
    /* Reset Button CSS */
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    /* Custom Button CSS */
    padding: 0.5em;
    width: 200px;
    color: #000;
    border: 1px solid #b9b9b9;
    border-radius: 25px;
}

.action-btn2 {
    /* Reset Button CSS */
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    /* Custom Button CSS */
    padding: 0.5em;
    width: 100%;
    color: #000;
    border: 1px solid #b9b9b9;
    border-radius: 25px;
}

.btn-text-blue {
    color: #1C9DFF;
}

.no-bg {
    /* Reset Button CSS */
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    /* Custom Button CSS */
    width: fit-content;
}


