.hover-div:hover {
  background-color: #f8f8f8;
}

.exercise-container {
  height: fit-content;
}

.exercise-container:hover {
  transform: scale(1);
}

.exercise-thumbnail {
  width: 100%;
  height: 150px;
  background-color: antiquewhite;
}

.exercise-description {
  overflow: hidden;
  white-space: nowrap;
}

.exercise-vid {
  height: 320px;
}

.exercise-child {
  /* width: 300px; */
}

/* DATE PICKER CSS */
.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__view-calendar-icon input {
  background-color: #fff;
  border: rgb(222, 226, 230) 1px solid;
  border-radius: 0.3rem;
  color: #000;
}

/* REGISTER CSS */
.form-container {
  padding: 2rem !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.form-input {
  all: unset;
  border: 1px solid rgb(222, 226, 230);
  background-color: #fff;
  padding: 0.5rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-show {
  border: 1px solid rgb(222, 226, 230);
  padding: 0.5rem;
  width: 100px;
  text-align: center;
}

/* ROOM.JSX */
.video-remote {
  /* position: relative; */
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.video-local {
  /* position: absolute; */
  /* top: -50vh; */
  width: 100%;
  height: inherit;
  min-height: 100%;
  overflow: auto;
  object-fit: cover;
  z-index: 101;
}

/* SCROLL BARS */
::-webkit-scrollbar {
  width: 5px;
}

.search-input {
  /* RESET INPUT TEXT CSS */
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.search-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* DETAILS AND SUMMARY */
/* details[open] summary {
  background-color: rgb(0, 0, 0);
  color: #fff;
} */

/* ADD SCHEDULE MODAL */
.schedule-options {
  background-color: #fff;
  color: #000;
  border: 1px solid #ced4da;
}

.schedule-time {
  -webkit-appearance: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #ced4da;
}

.schedule-time:focus {
  color: #000;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* LANDING */
.landing-icon {
  width: 5rem;
  height: auto;
}

.blob-1 {
  background-image: url('data:image/svg+xml;utf8,<svg width="1158" height="1155" viewBox="0 0 1158 1155" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M702.46 79.1771C814.834 104.519 924.825 131.244 1007.97 213.784C1093.24 298.43 1154.7 408.764 1157.88 531.262C1161.13 656.811 1099.57 767.572 1024.9 866.333C936.603 983.128 842.179 1102.32 702.46 1133.63C531.021 1172.05 337.94 1166.62 202.689 1050.6C58.5937 926.994 -4.52189 725.364 0.251114 531.262C4.91141 341.742 72.5084 137.646 227.594 37.8009C367.966 -52.5712 541.087 42.786 702.46 79.1771Z" fill="url(%23paint0_linear_792_372)" fill-opacity="0.5"/><defs><linearGradient id="paint0_linear_792_372" x1="579" y1="0" x2="579" y2="1155" gradientUnits="userSpaceOnUse"><stop stop-color="%2397C9EF"/><stop offset="1" stop-color="%23007AFF"/></linearGradient></defs></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 1%;
  overflow: hidden;
}

.landing-accordion {
  width: 50vw;
  background-color: #fff;
  color: #000;
  border: 1px solid #ced4da;
}

@media (max-width: 768px) {
 .landing-accordion {
  width: 100%;
 }
}