.text-pending {
  width: max-content;
  font-size: 0.75em !important;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: #ffa500 1px solid;
  border-radius: 25px;
  color: #ffa500;
  background-color: #fcf0db;
}

.text-accepted {
  width: max-content;
  font-size: 0.75em !important;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: #4caf50 1px solid;
  border-radius: 25px;
  color: #4caf50;
  background-color: #e4ffdd;
}

.text-cancelled {
  width: max-content;
  font-size: 0.75em !important;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: #f44336 1px solid;
  border-radius: 25px;
  color: #f44336;
  background-color: #ffdddd;
}

.text-link {
  color: #000;
  text-decoration: none;
}

.text-link:hover {
  color: #1c9dff;
  text-decoration: none;
}

.active {
  color: #1c9dff;
}

.text-button {
  width: 120px;
  padding: 0.4em;
  text-align: center;
  border-radius: 25px;
  color: #1c9dff;
  background-color: #fff;
  border-color: #c1c1c1 !important;
  cursor: pointer;
}

.text-button:hover {
  background-color: #1c9dff;
  color: #fff;
}

.text-button:disabled {
  background-color: #c1c1c1;
  color: #ffffff;
  cursor: default;
}

.text-button-red {
  width: 120px;
  padding: 0.4em;
  text-align: center;
  border-radius: 25px;
  color: #f44336;
  background-color: #ffdddd;
  border-color: #c1c1c1 !important;
  cursor: pointer;
}

.text-button-red:hover {
  background-color: #f44336;
  color: #ffdddd;
}

.text-button-red:disabled {
  background-color: #c1c1c1;
  color: #ffffff;
  cursor: default;
}

.icon-button {
  background: none;
  padding: 0.4em;
  text-align: center;
  color: #000;
  border: none;
}

.icon-button:hover {
  background: none;
  border: none;
  padding: 0.4em;
  text-align: center;
  color: #1c9dff;
}

.icon-button:disabled {
  background: none;
  border: none;
  padding: 0.4em;
  text-align: center;
  color: #c1c1c1;
  cursor: default;
}

.text-danger {
  color: #f44336;
  background-color: #ffdddd;
}

.text-required {
  color: #f44336;
}

.text-success {
  color: #4caf50;
  background-color: #e4ffdd;
}

.text-warning {
  color: #ffa500;
  background-color: #fcf0db;
}

.text-button-table {
  text-align: center;
  border-radius: 25px;
  color: #1c9dff;
  background-color: #fff;
  border-color: #c1c1c1 !important;
  cursor: pointer;
}

.text-header {
  display: flex;
  align-items: center;
  height: 90px;
}

.card-text {
  width: fit-content;
  margin-left: 0.5em;
}

.activity-top {
  width: 100%;
  border-radius: 25px;
}

.text-overflow {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status-booked {
  display: flex;
  align-items: center;
  font-size: 0.5em !important;
  background-color: #ececec;
  width: min-content;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #000;
  border-radius: 1em;
}

.view-consent {
  color: #1c9dff;
  cursor: pointer;
  font-size: 0.75em;
}

.text-blue {
  color: #1c9dff;
}

.text-red {
  color: #f44336;
}

.text-landing {
  background: linear-gradient(0deg, #225ef9 0%, #1c9dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-logo {
  background: linear-gradient(0deg, #225ef9 0%, #1c9dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.ql-editor {
  font-family: "Inter", sans-serif;
  font-size: 16px; /* Adjust the size as needed */
}

.landing-subtext {
  width: 40%;
}

.h-tooltip {
  position: relative;
  display: inline-block;
}

.h-tooltip .tooltip {
  visibility: hidden;
  position: absolute;
  max-width: max-content;
  background-color: #1c9dff;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  margin-left: 0.5rem;
}

.tooltip-right {
  top: -5px;
  left: 125%;
}

.h-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.h-tooltip .tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #1c9dff transparent transparent;
}

/* Media query for 768 and below */
@media (max-width: 768px) {
  .text-overflow {
    width: 200px;
  }

  .landing-subtext {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .text-landing {
    font-size: 2rem;
  }

  .landing-paragraph {
    text-align: center;
  }
}
