.text-pending {
  width: 120px;
  padding: 0.5em;
  text-align: center;
  border: #ffa500 1px solid;
  border-radius: 25px;
  color: #ffa500;
  background-color: #fcf0db;
}

.text-accepted {
  width: 120px;
  padding: 0.5em;
  text-align: center;
  border: #4caf50 1px solid;
  border-radius: 25px;
  color: #4caf50;
  background-color: #e4ffdd;
}

.text-cancelled {
  width: 120px;
  padding: 0.5em;
  text-align: center;
  border: #f44336 1px solid;
  border-radius: 25px;
  color: #f44336;
  background-color: #ffdddd;
}

.text-link {
  color: #000;
  text-decoration: none;
}

.text-link:hover {
  color: #1c9dff;
  text-decoration: none;
}

.text-button {
  width: 120px;
  padding: 0.5em;
  text-align: center;
  border-radius: 25px;
  color: #1c9dff;
  background-color: #fff;
  border-color: #c1c1c1!important;
  cursor: pointer;
}

.text-button:hover {
  background-color: #1c9dff;
  color: #fff;
}

.text-danger {
  color: #f44336;
  background-color: #ffdddd;
}

.text-success {
  color: #4caf50;
  background-color: #e4ffdd;
}

.text-warning {
  color: #ffa500;
  background-color: #fcf0db;
}

.text-header {
  display: flex;
  align-items: center;
  height: 90px;
}

.card-text {
  width: fit-content;
  margin-left: 0.5em;
}

.activity-top {
  width: 100%;
  border-radius: 25px;
}

.text-overflow {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Media query for 768 and below */
@media (max-width: 767px) {
  .text-overflow {
    width: 200px;
  }
}
